<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongdao.sdk">

    <application />
    <activity
        android:name="com.tongdao.sdk.permissions.PermissionActivity"
        android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize"
        android:screenOrientation="portrait" />

</manifest>
